.footer-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
}

footer {
  display: block;
  justify-content: space-around;
  height: 80px;
  align-self: flex-end;
  width: 376px;
  position: static;
  background-color: #f245f029;
  padding-top: 5px;
}

.footer-call-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  width: 50%;
}

.footer-call-list:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(237, 238, 237);
}

.footer-keypad {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  width: 50%;
}

.footer-keypad:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(237, 238, 237);
}

.footer-archived-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  width: 55%;
}

.footer-archived-list:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(237, 238, 237);
}
